<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= options[0].name %></title>
  <!-- Inner CSS Links -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/polls.css" type="text/css" />
  <!-- Inner JS Links -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/poll_drag_options.js"></script>
  <script type="text/javascript" src="/scripts/submit_poll.js"></script>
  <script type="text/javascript" src="/scripts/poll_display_description.js"></script>

   <!-- font awsome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>

<body>

    <%- include('partials/_header') %>

  <main>
    <h1>
      <%= options[0].name %>

    </h1>

    <form>

      <div class="name_field">

        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Name" name="voter_name" id='input_name' required />
          <label for="name" class="form__label">Name</label>
        </div>

      <!-- <input type='text' placeholder="Please input your name" name='voter_name' id='input_name'> -->
    </div>
    <div class="option_list">
          <p id='no_blank'>Enter Your Name Please!</p>

        <input type='text' name='poll_id' id='poll_id' hidden value="<%= options[0]['id'] %>">

        <ul id="sortable">
          <%for(let i in options){ %>
            <div>
              <li class="option_title">
                <i class="fas fa-sort"></i>
                <input type='text' name='option_id' class='option_id' hidden value="<%= options[i]['option_id'] %>">
                <%= options[i].title %>
              </input>
            </li>

              <p class="option_description">
                <%= options[i].description %>
              </p>
            </div>

              <% }%>
          </ul>

            <% if (!poll_id) { %>
            <button type="button" class="btn btn-primary" id="submit">Submit<i class="far fa-paper-plane"></i></button>


            <% } else if (poll_id.includes(options[0]['id'])) { %>
              <p class='message'> You Have Already Submitted</p>
            <% }  else {%>
              <button type="button" class="btn btn-primary" id="submit">Submit</button>
              <% }%>

      </div>


    </form>



  </main>
  <br>
  <footer>
    <%- include('partials/_footer') %>
  </footer>
</body>

</html>
