<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Inner CSS Links -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/polls.css" type="text/css" />
  <!-- Inner JS Links -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/poll_drag_options.js"></script>
  <script type="text/javascript" src="/scripts/submit_poll.js"></script>
  <script type="text/javascript" src="/scripts/poll_display_description.js"></script>


</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main>
    <h3>
      <%= options[0].name %>
    </h3>
    <div>
      <input type="text" placeholder="Please input your name">
      <ul id="sortable">
        <%for(let i in options){ %>
          <li class="option_title">
            <%= options[i].title %>
              <p class="option_description">
                <%= options[i].description %>
              </p>
          </li>
          <% }%>
      </ul>
    </div>
    <button id="submit">submit</button>
  </main>
  <br>
  <footer>
    <%- include('partials/_footer') %>
  </footer>
</body>

</html>
