<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Inner CSS Links -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/polls.css" type="text/css" />
  <!-- Inner JS Links -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/poll_drag_options.js"></script>
  <script type="text/javascript" src="/scripts/submit_poll.js"></script>
  <script type="text/javascript" src="/scripts/poll_display_description.js"></script>


</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main>
    <h3>
      <%= options[0].name %>

    </h3>
<<<<<<< HEAD
    <div>
      <input type="text" placeholder="Please input your name">
      <ul id="sortable">
        <%for(let i in options){ %>
          <li class="option_title">
            <%= options[i].title %>

            <p class="option_description">
                <%= options[i].description %>
            </p>
          </li>
          <% }%>
      </ul>
    </div>
    <button id="submit">submit</button>
=======

    <form action="/polls/<%= options[0].id %>"" method="POST" id="vote-form">
      <input type="text" placeholder="Please input your name" name='voter_name'>
      <input type='text' name='poll_id' hidden value="<%= options[0]['id'] %>">

        <ul id="sortable">
          <%for(let i in options){ %>
            <li class="option_title">

              <input type='text' name='option_id' hidden value="<%= options[i]['option_id'] %>">


              <%= options[i].title %>
            </input>

              <p class="option_description">
                <%= options[i].description %>
              </p>
            </li>
            <% }%>
        </ul>

      <button id="submit">submit</button>
    </form>



>>>>>>> a236d032534df87a3d1b691a6f6aeff52c1a5e74
  </main>
  <br>
  <footer>
    <%- include('partials/_footer') %>
  </footer>
</body>

</html>
