<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results for Poll <%= rows[0]['poll_id'] %> </title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/results.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/result_display.js"></script>
  </head>
  <%- include('partials/_header') %>
  <body>

    <h1>Results for Poll <%= rows[0]['poll_id'] %> </h1>
    <div class="results">
    <h2> <%= rows[0]['name'] %> </h2>
    <h3> Total participants: <%= num %> </h3>

    <table>
      <tr>

        <th class="rows">Options</th>
        <th class="rows">Scores</th>
        <th class="rows">Ranks</th>
      </tr>

    <% for (const rowIndex in rows) { %>

        <tr>

          <td class="rows"><%= rows[rowIndex]['title'] %></td>
          <td><%= sum_rank[rowIndex] %></td>
          <td class="rows"><%= rankings[rowIndex] %></td>
        </tr>

    <% } %>

    </table>


    <div class="options-container">


      <ul>
        <% for (const rowIndex in rows) { %>
          <li>
            <div class="bar">
              <%= rows[rowIndex]['title'] %>
            </div>
            <span class="rank">
              <%= sum_rank[rowIndex] %>
            </span>
          </li>
          <% } %>
      </ul>
    </div>



  </div>
  <%- include('partials/_footer') %>
  </body>
</html>
