<!DOCTYPE html>
<html lang="en">

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <!-- font awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- Inner CSS Links -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user.css" type="text/css" />
  <!-- Inner JS Links -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/user_display_result.js"></script>
  <script type="text/javascript" src="/scripts/user_edit.js"></script>
  <script type="text/javascript" src="/scripts/user_scroll.js"></script>
  <!-- Outer Lonks -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <h6>Poll List for <%= userName %>
  </h1>
  <main>

    <section id="frame">
      <% for (const [key, value] of pollMap) { %>
        <section class="poll-container">
          <div class="poll-title-container">
            <i class="fas fa-poll-h"></i>
            <div class="poll"><%= pollName.get(key) %>
            </div>
            <input type="hidden" name="userId" class="userId" value="<%= userId %>" />
            <a href="/polls/<%= key %>" target="view_window" class="share"><i class="fas fa-share-square"></i></a>
            <button class="delete" type="button" value="<%= key %>" name='pollId'><i class="fas fa-trash-alt"></i> </button>
          </div>
          <div class="options-container">
            <span>
              <%= pollName.get(key) %>
            </span>

            <ul>
              <% for (const option of value){ %>
                <li>
                  <div class="bar">
                    <%= option.optionTitle %>
                  </div>
                  <span class="rank">
                    <%= option.rank %>
                  </span>
                </li>
                <% } %>
            </ul>
          </div>
        </section>
        <% } %>
    </section>
  </main>

  <%- include('partials/_footer') %>

</body>

</html>
